<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Lionking Bank Account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  </head>
  <body>
    <ul>
      <li th:each="account : ${accounts}">
          <div th:if="${account.animalType == 'dog'}" th:text="${accountStat.index} + ' ' + ${account.getName()} + ' ' + ${account.getBalance()} + ' ' + ${account.getAnimalType()} + ' King'"></div>
          <div th:unless="${account.animalType == 'dog'}" th:text="${accountStat.index} + ' ' + ${account.getName()} + ' ' + ${account.getBalance()} + ' ' + ${account.getAnimalType()}"></div>
      </li>
    </ul>
  </body>
</html>