<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"/>
    <title>Programmer Fox Club</title>
  </head>
  <body>
    <ul>
      <li>
        <a href="/information">
          <span>Information</span>
        </a>
      </li>
    </ul>
    <img src="greenfox.png" alt="greenfox.png"/>
    <p th:text="'This is ' + ${fox.name} +  '. Currently living on ' + ${fox.food} + ' and ' + ${fox.drink} + ' . He knows ' + ${fox.tricks.size()} + ' trick.'">This is Mr. Green. Currently living on salad and water. He knows 0 trick.</p>
    <h1>Known tricks</h1>
    <p>You know he doesn't know any tricks yet.</p>
  </body>
</html>