<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"/>
    <title>Programmer Fox Club</title>
  </head>
  <body>
    <ul>
      <li>
        <a href="/">
          <span>Information</span>
        </a>
      </li>
      <li>
        <a href="/nutrition_store">
          <span>Nutrition Store</span>
        </a>
      </li>
    </ul>
    <img src="greenfox.png" alt="greenfox.png"/>
    <p th:text="'So ' + ${fox.getName()} +  ' is currently living on ' + ${fox.getFood()} + ' and ' + ${fox.getDrink()} + '. But you can give him other food and drink below.'">This is Mr. Green. Currently living on salad and water. He knows 0 trick.</p>
    <form method="post" action="/changefood">
      <label>Food
        <select name="food">
          <option value="duck" th:selected="duck">duck</option>
          <option value="chick">chick</option>
          <option value="lizard">lizard</option>
          <option value="strawberry">strawberry</option>
        </select>
        Drink
        <select name="drink">
          <option value="water" th:selected="water">water</option>
          <option value="blood">blood</option>
          <option value="coke">coke</option>
          <option value="cacao">cacao</option>
        </select>
      </label>
      <input type="submit" value="Change Nutritions"/>
    </form>
  </body>
</html>